<div id="home">
  <div id="files">
    <ul>
      <% built_files.each do |file| %>
    <li>
            <a href="/post/<%= file.basename.to_s.gsub('.md.html', '') %>">
              <%= file.basename.to_s %>
            </a>
              <a href="/post/<%= file.basename.to_s.gsub('.md.html', '') %>">
                <button>view</button>
              </a>
          </li>
      <% end %>
    </ul>
  </div>
</div>